@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&display=swap");

/* Tailwind normaliza mucho, pero aseguramos el fondo global por si acaso */
body {
  background-color: #030712; /* Gray-950 de Tailwind */
  font-family: "Segoe UI", sans-serif;
}

/* Scrollbar personalizado (Tailwind requiere plugins para esto, así que CSS es más rápido) */
textarea::-webkit-scrollbar {
  width: 8px;
}
textarea::-webkit-scrollbar-track {
  background: #1f2937;
}
textarea::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
